# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea
.cursor

# OS
Thumbs.db

# Project specific
*.zip
tmp
.cursorrules
docs/prompt_nova_feature.md
docs/cursor-dev-guide.md

# TypeScript build info
*.tsbuildinfo